// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.simple-dog {
  width: 100%;
}

.simple-dog td {
  padding: 5px;
}

.simple-dog tr td:nth-child(1) {
  width:30%;
}

.simple-dog tr td:nth-child(2) {
  width:50%;
}

.simple-dog tr td:nth-child(3) {
  width:20%;
}

.form-actions {
  border: none;
  background: none;
}
