@import "reuse";

$plateStartRot: 180deg;
$plateTrans: 50px;
$plateEndRot: -100deg;

header.main_header {
  width: $full;
  height: 240px;
  background: url(/assets/sidewalk_right.png) right top no-repeat, url(/assets/sidewalk_bg.png) -2px top repeat-x;

  nav {
    width: $full;
    height: $full;
    padding: 0px;

    div.container {
      padding: 0px;
      padding-top: 200px;

      ul#navigation {
        width: $full;
        list-style: none;

        li {
          width: 100px;
          display: inline;
          float: left;
          text-align: center;
        }
      }
    }
  }

  div.plate {
    position: absolute;
    z-index: 999999;
    top: 0px;
    left: 0px;
    width: 189px;
    height:110px;
    background-image: url(/assets/plate_trans.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align:center;
    @include vendor-prefix(transform, rotateX($plateStartRot) translate(0px,$plateTrans));
  }

  div.plate span {
    margin-bottom: 0;
    font-weight: bold;
    color: white;
  }
}

@include keyframes(animstart) {
  from {
    @include vendor-prefix(transform, rotateX($plateStartRot));
  }
  to {
    @include vendor-prefix(transform, rotateX($plateEndRot) translate(0px,$plateTrans));
  };
}

/*
ul#navigation {
  position: fixed;
  margin: 0px;
  padding: 0px;
  top: 0px;
  right: 10px;
  list-style: none;
  z-index: 999999;
  width: 721px;
  li {
    width: 103px;
    display: inline;
    float: left;

    a {
      display: block;
      float: left;
      margin-top: -2px;
      width: 100px;
      height: 20px;
      background: {
        color: #E7F2F9;
        repeat: no-repeat;
        position: 50% $radius;
      }

      border: 1px solid #BDDCEF;
      -moz-border-radius: 0px 0px $radius $radius;

      -webkit-border-bottom-left-radius: $radius;
      -webkit-border-bottom-right-radius: $radius;
      -khtml-border-bottom-left-radius: $radius;
      -khtml-border-bottom-right-radius: $radius;

      text {
        decoration: none;
        align: center;
      }

      padding-top: 80px;
      opacity: 0.7;
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity = 70);

      &:hover {
        background-color: #CAE3F2;
      }

      font-size: 10pt;
      font-weight: bold;
      color: #CAE3F2;
      text-align: center;
      text-decoration:none;
    }
  }

  .menu-home a {
    background-image: url(/assets/dog.png);
    width: 150px;
    padding-top: 240px;
  }
  .menu-sign-up a {
    background-image: url(/assets/dog.png);
  }
  .menu-login a {
    background-image: url(/assets/collar.png);
  }
  .menu-logout a {
    background-image: url(/assets/jacket.png);
    width: 150px;
    padding-top: 120px;
  }
  .menu-edit-account a {
    background-image: url(/assets/bone.png);
  }
  .menu-dog a {
    background-image: url(/assets/bone.png);
  }
  .menu-skill a {
    background-image: url(/assets/bone.png);
  }
  .menu-admin a {
    background-image: url(/assets/bone.png);
  }
}
*/